<br>
<div class="row">
	<div class="col-md-6 col-md-offset-3"> 
		<div class="panel panel-primary panelrow">
			<div class="panel-heading">
				Veuillez entrer les mots magiques
			</div>
			<div class="panel-body">
				<%= form_tag sessions_path do %>
				<div class="form-group">
				<%= password_field_tag :password %>
				</div>
				<% end %>
			</div>
		</div>
	</div> <!-- col md6 -->
</div> <!-- row -->
